.container {
  position: absolute;
}

.input {
  border-radius: 4px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 1rem;
  padding: 8px;
  position: relative;
}

.modal {
  background-color: #fcfcfc;
  max-width: 100%;
  padding: 8px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ece8e8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 4px;
}

li:hover {
  background-color: #ece8e8;
  border-radius: 4px;
}

.highlight {
  background-color: rgb(27, 139, 236);
}
